{% extends "base.html" %}

{% block body %}
<header>
  <nav class="level-left">
      <a href="./contact.html" class="level-item">
        ליצירת קשר
      </a>
      <a href="./cv.html" class="level-item">
        קורות חיים
      </a>
  </div>
</header>

<div class="container">
  <figure class="image">
        <img src="./static/images/tamar.jpg" alt="">
  </figure>
</div>

<section class="section title level">
  <span class="level-item">
    תמר כהן
  </span>
  <span class="dash is-hidden-mobile">-</span>
  <span class="level-item">
    פסיכולוגית
  </span>
</section>

<section class="section qoute">
  <div class="">
    "a nice quote, about nice things, make the web-site realy nice"
  </div>
</section>

{% endblock %}
